<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Embarques</display-name>
	<welcome-file-list>
		<welcome-file>pages/requisiciones/requisiciones.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>500</session-timeout>
	</session-config>

	<context-param>
		<param-name>tempfile.dir</param-name>
		<param-value>temporal</param-value>
	</context-param>
	<filter>
		<filter-name>AppFilter</filter-name>
		<filter-class>mx.trillas.seguimientoembarques.util.AppFilter</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>Initialization Paramter</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AppFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
</web-app>